napari-plugin-engine>=0.1.4
pyopencl
toolz
scikit-image
napari >=0.4.7
pyclesperanto_prototype >=0.10.0
magicgui
numpy!=1.19.4
pyperclip
loguru
jupytext
jupyter
pandas
napari-tools-menu>=0.1.8
napari-time-slicer>=0.4.0
napari-skimage-regionprops>=0.2.0
napari-workflows>=0.1.1
